In [1]:
import pandas as pd
df = pd.DataFrame({'a':[4,5,6], 'b':[7,8,9], 'c':[10,11,12]}, index=[1,2,3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [2]:
print(df)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [10]:
[('d',1),('e',2),('f',2)]
# df2 = pd.DataFrame({'a':[4,5,6], 'b':[7,8,9], 'c':[10,11,12]}, index=pd.MultiIndex.from_tuples=([('d',1),('e',2),('f',2)],names=['n','v']))
# df2

[('d', 1), ('e', 2), ('f', 2)]